{{ $section := .section }}
    <section class="content__row"  data-id="{{ $section.section_id }}">
        <h2 class="content__row-title{{ if $section.light_title }} content__row-title--light{{ end }}">
            {{ if $section.icon }}
            <svg width="29" height="25" viewBox="0 0 29 25" xmlns="http://www.w3.org/2000/svg">
                  <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"></path>
            </svg>
            {{ end }}
            {{ $section.title }}
        </h2>

        {{ $featured_products := $section.featured_products }}
        {{ $include_dict := dict "products" $featured_products "Site" .Site }}
        {{ partial "featured_grid.html" $include_dict }}
    </section>
